scrapy
selenium
sqlalchemy
click
jupyter
jupyterlab
git+git://github.com/data-catalysis/skills-ml.git@master
graphviz
textblob
seaborn
matplotlib
spacy
cufflinks
textblob
sklearn
matplotlib_venn_wordcloud
wordcloud
pillow
flask
click
simplejson
funcy
joblib
wrapt
